


  <div class="content_block_user_create login-container">
    <div class="row">
      <div class="col-12">
        <h5 class="text-start text-uppercase">login</h5><hr style="color: var(--color_3);  opacity:0.8">
      </div>
    </div>
    <form method="post">
      <div class="row mb-3">
        <div class="col-12">
          <label class="form-label">Email</label>
          <input class="form-control" name="user_email" type="email" maxlength="100" required>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <label class="form-label">Password</label>
          <input class="form-control" type="password" name="user_password" maxlength="100" required>
        </div>
      </div>
        <div class="row">
          <button class="btn create_user_btn" type="submit">Submit</button>
        </div>
    </form>
  </div>
