<form method="post">
      <div class="row mb-3">
        <div class="col-12">
          <label class="form-label">First Name</label>
          <input class="form-control" name="user_first_name" type="text" maxlength="100" required>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <label class="form-label">Last Name</label>
          <input class="form-control" name="user_last_name" type="text" maxlength="100" required>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <label class="form-label">Password</label>
          <input class="form-control" type="password" name="user_password" maxlength="20" required>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <label class="form-label">Email</label>
          <input class="form-control" type="email" name="user_email"  required>
        </div>
      </div>
        <div class="row">
          <button class="btn create_user_btn" type="submit">Submit</button>
        </div>
</form>