<form method="post" >
      <div class="row mb-3">
        <div class="col-12">
          <label class="form-label">username</label>
          <input class="form-control" name="username" type="text" maxlength="100" required>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <label class="form-label">text</label>
          <input class="form-control" name="text" type="text" maxlength="100" required>
        </div>
        </div>
        <div class="row">
          <button class="btn create_user_btn" type="submit">Submit</button>
        </div>
</form>